<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sin in</title>
    <link rel="stylesheet" th:href="@{css/user/sign-in.css}">
</head>
<body>
<form class="sign-in-form" th:method="POST" th:action="@{/sign-in}">

        <h1>Sign in</h1>

    <input hidden="hidden" name="_csrf" th:value="${_csrf}">
    <label>
        Email:
    </label>
        <input type="text" name="email" placeholder="email">
    <label>
        Password:
    </label>
        <input type="password" name="password" placeholder="password">
             <button type="submit">Sign In</button>
</form>
</body>
</html>